<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="">
            <img alt="Logo" class="img-fluid" src="images/logo.jpg" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item me-4"><a class="nav-link" href="index.html">Question Ethique</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="enquetes.html">Enquêtes/littérature</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="ethiques.html">Ethiques</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="synthese.html">Synthèse</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="recommandations.html">Recommandations</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="equipe.html">Equipe</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="sources.html">Sources</a></li>
            </ul>
        </div>
    </div>
</nav>
