<nav class="navbar navbar-expand-lg navbar-dark shadow-sm py-3">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center" href="">
			<img alt="Logo" class="img-fluid me-2" src="images/logo.jpg" />
			<span class="fw-bold fs-4" style="color: #333">Ethique</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto my-2 my-lg-0">
				<li class="nav-item me-3">
					<a class="nav-link fw-semibold" href="index.html">Question Ethique</a>
				</li>
				<li class="nav-item me-3">
					<a class="nav-link fw-semibold" href="enquetes.html">Enquêtes/littérature</a>
				</li>
				<li class="nav-item me-3">
					<a class="nav-link fw-semibold" href="ethiques.html">Ethiques</a>
				</li>
				<li class="nav-item me-3">
					<a class="nav-link fw-semibold" href="synthese.html">Synthèse</a>
				</li>
				<li class="nav-item me-3">
					<a class="nav-link fw-semibold" href="recommandations.html">Recommandations</a>
				</li>
				<li class="nav-item me-3">
					<a class="nav-link fw-semibold" href="equipe.html">Equipe</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-semibold" href="sources.html">Sources</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
